<form >
<div class="form-group">
<label for="">Email</label>
<input type="text" name="email" class="form-control">
</div>
<div class="form-group">
    <label for="">Password</label>
    <input type="password" name="password" class="form-control">
    </div>
<div class="form-group form-check">
<label for="">
    <input type="checkbox" name="remember">Remember
</label>
</div>

<div class="form-group form-check">
    <label for="">
        <input type="radio" name="gender" value="male">Male
    </label>
    </div>

    <div class="form-group form-check">
        <label for="">
            <input type="radio" name="gender" value="female">Female
        </label>
        </div>
<div class="form-group">
<label for="">Select role</label>
<select name="role" class='form-control w-25'>
    <option value="member">Member</option>
    <option value="commitee">Commitee</option>
</select>
</div>
<button type='submit' class="btn btn-primary">Submit</button>
</form>